.navigation {
    display: flex;
    justify-content: space-between;
    margin: 10px 50px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .span {
    color: rgb(8, 126, 199);
}

.nav .list{
    display: flex;
    gap: 20px
}
.nav .list li {
    list-style: none;
}

.nav .list li a{
    text-decoration: none;
}

.nav .list .active {
    border-bottom: 3px solid rgb(8, 126, 199);
}
.promote {
    height: 75vh;
    background-image: url('images/slide2.jpg');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
}

.promote .container {
    position: absolute;
    top: 30%;
    left: 25%;
}

.promote .container .card {
    padding: 12px;
    color: white;
    background-color: rgba(0,0,0,0.5);;
}

.promote .container .card p {
    width: 100%;
    margin: 0px;
    font-size: 32px;
    text-align: center;
}

.promote .container .card button {
    margin-top: 10px;
    font-size: 16px;
    border-radius: 14px;
    padding: 4px 14px;
    color: white;
    background-color:rgb(8, 126, 199); 
}
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin: 20px;
}

.welcome .content {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
}

.welcome .content h1 {
    margin: 0px;
    font-size: 26px;
}

.welcome .content p {
    font-size: 18px;
    text-align: center;
}
.welcome .content .divider {
    height: 3px;
    margin: 8px;
    width: 100px;
    background-color: rgb(8, 126, 199);
}

.welcome .content button {
    margin: 10px 0px;
    padding: 12px 26px;
    font-size: 18px;
    color: white;
    border-radius: 22px;
    background-color: rgba(60, 54, 54, 0.918);
}

.services {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: rgb(238, 238, 238);
    height: 550px;
    margin: 0px;
}
.services h1 {
    font-size: 28px;
    color: rgba(60, 54, 54, 0.918);
    margin-bottom: 0px;
}

.services .divider {
    height: 3px;
    width: 100px;
    background-color: rgba(60, 54, 54, 0.918);
    margin-top: 2px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 20px;
}
.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: white;
    width: 300px;
    height: 430px;
}

.cards .card img{
   max-width: 300px;
}

.cards .card .card-content{
    display: flex;
    color: rgba(60, 54, 54, 0.918);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    text-align: center;
}

.cards .card .card-content h1 {
    margin-bottom: 0px;
   
}

.cards .card .card-content button {
    padding: 8px 14px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(60, 54, 54, 0.918);
    color: white;
}

.subscribe {
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: rgb(58, 58, 58);
    color: white;
}
.subscribe .content {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.subscribe .content h1 {
    font-size: 28px;
    margin-bottom: 0px;
}

.subscribe .content p {
    margin-top: 0px;
    font-size: 18px;
}

.subscribe .divider {
    height: 3px;
    width: 100px;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 30px;
}

.subscribe input {
    height: 30px;
    width: 400px;
    font-size: 18px;
    background-color: rgba(139, 139, 139, 0.575);
    border: rgba(139, 139, 139, 0.575);
    padding: 8px;
    border-radius: 6px;
}

.subscribe input::placeholder {
    color: rgb(156, 156, 156);
}

.subscribe button {
    border-radius: 6px;
    margin-left: 5px;
    padding: 11px 40px;
    color: white;
    background-color: rgb(8, 126, 199);
    border-color: rgb(8, 126, 199);
    font-size: 18px;
}

.info {
    display: flex;
    justify-content: space-around;
    background-color: rgb(93, 93, 93);
    color: white;
}

.info .container {
    display: flex;
    justify-content: center;
    
    gap: 100px;
}

.info .container .list {
    display: flex;
    flex-direction: column;
    
}

.info .container .list ul {
    display: flex;
    flex-direction: column;
    
}

.info .list-diff {
    display: flex;
    flex-direction: column;
}

.info .container .list li {
    list-style: none;
}

.info .container .list.diff li:nth-child(3) {
    margin-top: 20px;
}



