html {
    font-family: Helvetica, sans-serif;
}
header {
    border-bottom: 2px solid black;
    display: flex;

}
nav {
    display: inline-block;
}

ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    
}

li {
    
    display: inline-block;
    margin-left: 40px;
    padding-right: 10px;
    margin-top: 30px;
    
}

a{
    text-decoration: none;

}

